<% if @tags.any? %>
  <h3>Tags:</h3>
  <ul>
    <% @tags.each do |tag| %>
    <li>
      <button class="tag">
        <%= link_to tag.name, tag_path(tag) %>
      </button>
    </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no tags, yet!
  </p>
<% end %>
