<h2>
  <button class="tag"><span><%= @tag.name %></span></button>
  <small> |
    <%= link_to 'Edit', edit_tag_path(@tag) %> |
    <%= link_to 'Delete', tag_path(@tag),
                          :data => {:confirm => "Are you sure you want to delete the '#{@tag.name}' tag?",
                                    :method => 'delete'}%>
  </small>
</h2>

<div class="container">
  <% if @tag.posts.any? %>

  <h3>Posts:</h3>
  <ul>
    <% @tag.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>

  <% else %>
  <p>
    There aren't any posts with this tag yet.
  </p>
  <% end %>
</div>
